{% extends "app.html" %}
{% block page_content %}

<div class="intro-header">
    <div class="container">
        <h1>lolcommits + GitHub == more lulz!</h1>
        <p>Navigate project history through contributor's faces!</p>
    </div>
</div>

<div class="container">

    <div class="hero-unit">

        <h2>What's this?</h2>

        <p>
            You can <a href="/login/">login using GitHub</a> and explore projects
            history with <a href="http://mroth.github.io/lolcommits/">lolcommits</a>
	    images.
        </p>

	<h2>How do I lulz-enable my repo?</h2>

	<ol>
	  <li>Install lolcommits and enable it on your repo</li>
	  <li>Commit your lolcommits pictures (you find them in ~/.lolcommits)
	      in a branch named "<code>lulz-pics</code>"</li>
	  <li>There isn't a 3, since you're done. Congrats!</li>
	</ol>

        <div style="text-align:center;margin:25px 0;">
            <a href="/map-editor/" class="btn btn-large btn-primary">
                <i class="icon-camera"></i>
                Get started now!
            </a>
            <a href="https://github.com/rshk/lulz-history" class="btn btn-large">
                <i class="icon-github"></i>
                Fork on GitHub!
            </a>
            <!-- <a href="#" class="btn btn-large btn-success">
                View the gh-map documentation
            </a> -->
        </div>

    </div>

    <hr>

    <p style="color:#888;font-size:80%;">
    &copy; 2013 Samuele Santi - Under Apache License Version 2.0<br>
    This application is <strong>not</strong> in any way affiliated with
    <a href="https://github.com">GitHub</a>,
    <a href="http://mroth.github.io/lolcommits/">lolcommits</a> or the
    <a href="http://en.wikipedia.org/wiki/Galactic_Empire_%28Star_Wars%29">Empire</a>.
    May the schwartz be with you.
    </p>

</div>
{% endblock %}
