{% extends "app.html" %}

{% block page_content %}
<div class="container">

<h1>Lulz'd History for {{ repo_name }}</h1>

<div class="alert alert-info">
  <strong>Repository:</strong>

  <a href="https://github.com/{{ repo_name }}" target="_blank">{{ repo_name }}</a>
  &mdash;

  <strong>Branch:</strong>

  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      {{ current_branch or '<em>default</em>'|safe }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <!-- dropdown menu links -->
      <li><a href="#">Dummy branch #0</a></li>
      <li><a href="#">Dummy branch #1</a></li>
      <li><a href="#">Dummy branch #2</a></li>
      <li><a href="#">Dummy branch #3</a></li>
    </ul>
    </div>
</div>

{% for commit in commits %}
<div class="row row-fluid commit-info">
  <div class="span3">
    {% if commit.is_lulz %}
      <a href="{{ commit.pic }}" target="_blank">
        <img src="{{ commit.pic }}" class="img-polaroid" style="max-width:100%;" />
      </a>
    {% else %}
      <img src="{{ commit.pic }}" class="img-polaroid pull-right" />
    {% endif %}
  </div>
  <div class="span9">

    <div class="popover right" style="position:relative;display:block;max-width:100%;z-index:0;">


      <div class="arrow"></div>
      <div class="popover-title">
	<small><a href="{{ commit.author.html_url }}">{{ commit.author.login }}</a>
	  authored on {{ commit.commit.author.date }}</small>
      </div>
      <div class="popover-content" style="min-height:40px;">
	<a href="{{ commit.html_url }}"
	   class="btn btn-success"
	   style="position:absolute;top:3px;right:3px;">
	   {{ commit.sha[:11] }}</a>
	<div>{{ commit.commit.message }}</div>
      </div>
      </div>
    </div>
    {#{ commit }#}
</div>
{% endfor %}


</div>
{% endblock %}
